<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatelecom.dao.mapper.EquipmentMapper">
	<resultMap type="com.chinatelecom.model.Site" id="BaseSite">
		<id property="ID" column="F00"/>
		<result property="SITENAME" column="F01" />
		<result property="ADDRESS" column="F02" />
		<result property="COMMENTS" column="F03" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Room" id="BaseRoom">
		<id property="ID" column="F00"/>
		<result property="SITEID" column="F01" />
		<result property="NAME" column="F02" />
		<result property="ROOMNUM" column="F03" />
		<result property="AREA" column="F04" />
		<result property="MAXRACKNUM" column="F05" />
		<result property="USEDRACKNUM" column="F06" />
		<result property="FREERACKNUM" column="F07" />
		<result property="USEFOR" column="F08" />
		<result property="COMMENTS" column="F09" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Rack" id="BaseRack">
		<id property="ID" column="F00"/>
		<result property="ROOMID" column="F01" />
		<result property="COLUMEID" column="F02" />
		<result property="SEQUENCE" column="F03" />
		<result property="HEIGHT" column="F04" />
		<result property="LOCATIONX" column="F05" />
		<result property="LOCATIONY" column="F06" />
		<result property="ISINMAINTENCE" column="F07" />
		<result property="ISStandarded" column="F08" />
		<result property="COMMENTS" column="F09" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Vendor" id="BaseVendor">
		<id property="ID" column="F00"/>
		<result property="NAME" column="F01" />
		<result property="NAMEABB" column="F02" />
		<result property="ADDRESS" column="F03" />
		<result property="COMMENTS" column="F04" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Equipment" id="BaseEquipment">
		<id property="ID" column="F00"/>
		<result property="RACKID" column="F01" />
		<result property="HOSTNAME" column="F02" />
		<result property="MANAGEMENTIP" column="F03" />
		<result property="HOSTLABEL" column="F04" />
		<result property="EQUIPMENTTYPE" column="F05" />
		<result property="USEFOR" column="F06" />
		<result property="SYSTEMID" column="F07" />
		<result property="SERIALNO" column="F08" />
		<result property="STARTLOCATION" column="F09" />
		<result property="WORTH" column="F10" />
		<result property="BELONGSTO" column="F11" />
		<result property="MAINTENANCEDATE" column="F12" />
		<result property="MAINTENANCEDEP" column="F13" />
		<result property="MAINTENANCEENDDATE" column="F14" />
		<result property="FEUSED" column="F15" />
		<result property="OPTUSED" column="F16" />
		<result property="PARENTEQUIPMENT" column="F17" />
		<result property="COMMENTS" column="F18" />
	</resultMap> 
	<resultMap type="com.chinatelecom.model.EquipmentType" id="BaseType">
		<id property="ID" column="F00"/>
		<result property="VENDORID" column="F01" />
		<result property="TYPE" column="F02" />
		<result property="MODEL" column="F03" />
		<result property="HEIGHT" column="F04" />
		<result property="POWER" column="F05" />
		<result property="FETOTAL" column="F06" />
		<result property="OPTTOTAL" column="F07" />
		<result property="WEIGHT" column="F08" />
		<result property="COMMENTS" column="F09" />
	</resultMap>
    <select id="getAllSite"  resultMap="BaseSite">
		select * from Site
	</select>
	<select id="getAllRoom"  resultMap="BaseRoom">
		select * from Room
	</select>
	<select id="getAllRack"  resultMap="BaseRack">
		select * from Rack
	</select>
	<select id="getAllRoomBySite" parameterType="java.lang.Integer" resultMap="BaseRoom">
		select * from Room
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F01=#{_parameter}
			</if>
		</where>	
	</select>
	<select id="getAllRackByRoom" parameterType="java.lang.Integer" resultMap="BaseRack">
		select * from Rack
		where
		<if test="_parameter != null and _parameter!= ' ' ">
			F01=#{_parameter}
		</if>
	</select>
    <select id="getAllEqulpmentByRack" parameterType="java.lang.Integer" resultMap="BaseEquipment">
		select * from Equipment 
		<where>
			<if test="_parameter != null and _parameter!= ' ' ">
				F01=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getAllVendor"  resultMap="BaseVendor">
		select * from Vendor
	</select>
	<select id="getAllEquipmentType"  resultMap="BaseType">
		select * from EQUIPMENTTYPE
	</select>
	<select id="getAllEquipmentByType" parameterType="java.lang.Integer" resultMap="BaseEquipment">
		select * from EQUIPMENT
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F05=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getAllTypeByVendorID" parameterType="java.lang.Integer" resultMap="BaseType">
		select * from EQUIPMENTTYPE
		<where>
			<if test="_parameter != null and _parameter!= ' ' ">
				F01=#{_parameter}
			</if>
		</where>
	</select>
</mapper>