<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatelecom.dao.mapper.EquipmentMapper">
	<resultMap type="com.chinatelecom.model.Site" id="BaseSite">
		<id property="ID" column="ID"/>
		<result property="SITENAME" column="SITENAME" />
		<result property="ADDRESS" column="ADDRESS" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Room" id="BaseRoom">
		<id property="ID" column="ID"/>
		<result property="SITEID" column="SITEID" />
		<result property="NAME" column="NAME" />
		<result property="ROOMNUM" column="ROOMNUM" />
		<result property="AREA" column="AREA" />
		<result property="MAXRACKNUM" column="MAXRACKNUM" />
		<result property="USEDRACKNUM" column="USEDRACKNUM" />
		<result property="FREERACKNUM" column="FREERACKNUM" />
		<result property="USEFOR" column="USEFOR" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Rack" id="BaseRack">
		<id property="ID" column="ID"/>
		<result property="ROOMID" column="ROOMID" />
		<result property="COLUMEID" column="COLUMEID" />
		<result property="SEQUENCE" column="SEQUENCE" />
		<result property="HEIGHT" column="HEIGHT" />
		<result property="LOCATIONX" column="LOCATIONX" />
		<result property="LOCATIONY" column="LOCATIONY" />
		<result property="ISINMAINTENCE" column="ISINMAINTENCE" />
		<result property="ISStandarded" column="ISStandarded" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Vendor" id="BaseVendor">
		<id property="ID" column="ID"/>
		<result property="NAME" column="NAME" />
		<result property="NAMEABB" column="NAMEABB" />
		<result property="ADDRESS" column="ADDRESS" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Equipment" id="BaseEquipment">
		<id property="ID" column="ID"/>
		<result property="RACKID" column="RACKID" />
		<result property="HOSTNAME" column="HOSTNAME" />
		<result property="MANAGEMENTIP" column="MANAGEMENTIP" />
		<result property="HOSTLABEL" column="HOSTLABEL" />
		<result property="EQUIPMENTTYPE" column="EQUIPMENTTYPE" />
		<result property="USEFOR" column="USEFOR" />
		<result property="SYSTEMID" column="SYSTEMID" />
		<result property="SERIALNO" column="SERIALNO" />
		<result property="STARTLOCATION" column="STARTLOCATION" />
		<result property="WORTH" column="WORTH" />
		<result property="BELONGSTO" column="BELONGSTO" />
		<result property="MAINTENANCEDATE" column="MAINTENANCEDATE" />
		<result property="MAINTENANCEDEP" column="MAINTENANCEDEP" />
		<result property="MAINTENANCEENDDATE" column="MAINTENANCEENDDATE" />
		<result property="FEUSED" column="FEUSED" />
		<result property="OPTUSED" column="OPTUSED" />
		<result property="PARENTEQUIPMENT" column="PARENTEQUIPMENT" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap> 
	<resultMap type="com.chinatelecom.model.EquipmentType" id="BaseType">
		<id property="ID" column="ID"/>
		<result property="VENDORID" column="VENDORID" />
		<result property="TYPE" column="TYPE" />
		<result property="MODEL" column="MODEL" />
		<result property="HEIGHT" column="HEIGHT" />
		<result property="POWER" column="POWER" />
		<result property="FETOTAL" column="FETOTAL" />
		<result property="OPTTOTAL" column="OPTTOTAL" />
		<result property="WEIGHT" column="WEIGHT" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
   <select id="getAllSite"  resultMap="BaseSite">
		select * from Site
	</select>
	<select id="getAllRoomBySite" parameterType="java.lang.Integer" resultMap="BaseRoom">
		select * from Room
		where
		<if test="_parameter != null and _parameter!= ' '">
			SITEID=#{_parameter}
		</if>	
	</select>
	<select id="getAllRackByRoom" parameterType="int" resultMap="BaseRack">
		select * from Rack
		where
		<if test="RoomID != null and RoomID!= ' ' ">
			ROOMID=#{RoomID}
		</if>
	</select>
    <select id="getAllEqulpmentByRack" parameterType="int" resultMap="BaseEquipment">
		select * from Equipment 
		where
		<if test="RackID != null and RackID!= ' ' ">
			RACKID={#RackID}
		</if>
	</select>
	<select id="getAllVendor"  resultMap="BaseVendor">
		select * from Vendor
	</select>
	<select id="getAllEquipmentType"  resultMap="BaseType">
		select * from EQUIPMENTTYPE
	</select>
	<select id="getAllEquipmentByType" parameterType="int" resultMap="BaseEquipment">
		select * from EQUIPMENT
		where
		<if test="Type != null and Type!= ' '">
			EQUIPMENTTYPE={#Type}
		</if>
	</select>
	<select id="getAllTypeByVendorID" parameterType="int" resultMap="BaseType">
		select * from EQUIPMENTTYPE
		where
		<if test="VendorID != null and VendorID!= ' ' ">
			VENDORID={#VendorID}
		</if>
	</select>
</mapper>