<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatelecom.dao.mapper.IpMapper">
	<!-- <resultMap type="com.chinatelecom.model.ResPool" id="BasePool">
		<id property="ID" column="ID"/>
		<result property="NAME" column="NAME" />
		<result property="ADDRESS" column="ADDRESS" />
		<result property="SITEID" column="SITEID" />
		<result property="POSTALCODE" column="POSTALCODE" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Area" id="BaseArea">
		<id property="ID" column="ID"/>
		<result property="PESPOOLID" column="PESPOOLID" />
		<result property="NAME" column="NAME" />
		<result property="RARENTAREAID" column="RARENTAREAID" />
		<result property="USEFOR" column="USEFOR" />
		<result property="TYPE" column="TYPE" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.IpSegment" id="BaseSegment">
		<id property="ID" column="ID"/>
		<result property="AREAID" column="AREAID" />
		<result property="MASK" column="MASK" />
		<result property="TYPE" column="TYPE" />
		<result property="IP" column="IP" />
		<result property="USEFOR" column="USEFOR" />
		<result property="VALN" column="VALN" />
		<result property="PARENTIPSEGMENT" column="PARENTIPSEGMENT" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.IpMap" id="BaseMap">
		<id property="ID" column="ID"/>
		<result property="DESTID" column="DESTID" />
		<result property="SRCID" column="SRCID" />
		<result property="SRCDES" column="SRCDES" />
		<result property="DESTDES" column="DESTDES" />
		<result property="SRCDES" column="SRCDES" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Ip" id="BaseIp">
		<id property="ID" column="ID"/>
		<result property="IP" column="IP" />
		<result property="GATEWAY  " column="GATEWAY  " />
		<result property="HOSTNAME" column="HOSTNAME" />
		<result property="IPSEGMENTID" column="IPSEGMENTID" />
		<result property="USEFOR" column="USEFOR" />
		<result property="IPGROUPID" column="IPGROUPID" />
		<result property="PROPOSER" column="PROPOSER" />
		<result property="CREATEDATE" column="CREATEDATE" />
		<result property="COMMENTS" column="COMMENTS" />
	</resultMap>
	<select id="getResPoolInfo" parameterType="int" resultMap="BasePool">
		select * from ResPool where ID=#{PoolID};
	</select>
	<select id="getAreaNameByResPoolID" parameterType="int" resultType="java.lang.String">
		select NAME from Area where RESPOOLID =#{ResPoolID};
	</select>
	<select id="getAreaInfoByAreaID" parameterType="int" resultMap="BaseArea">
		select * from Area where ID=#{AreaID};
	</select>
	<select id="getSegmentIpByAreaID" parameterType="int" resultType="java.lang.String">
		select IP from IPSegment where AREAID=#{AreaID};
	</select>
	<select id="getSegmentIpInfoBySegmentID" parameterType="int" resultMap="BaseSegment">
		select * from IPSegment where ID=#{SegmentID};
	</select>
	<select id="getIpNameBySegmentIpID" parameterType="int" resultType="java.lang.String">
		select IP from IP where IPSEGMENTID=#{SegmentID};
	</select>
	<select id="getIpInfoByIpID" parameterType="int" resultMap="BaseIp">
		select * from IP where ID=#{IpID});
	</select>
	<select id="getIpMapByMapID" parameterType="int" resultMap="BaseMap">
		select * from IP_MAP where ID=#{MapID};
	</select> -->
</mapper>
