<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatelecom.dao.mapper.IpMapper">
	<resultMap type="com.chinatelecom.model.ResPool" id="BasePool">
		<id property="ID" column="F00"/>
		<result property="NAME" column="F01" />
		<result property="ADDRESS" column="F02" />
		<result property="POSTALCODE" column="F03" />
		<result property="SITEID" column="F04" />	
	</resultMap>
	<resultMap type="com.chinatelecom.model.Area" id="BaseArea">
		<id property="ID" column="F00"/>		
		<result property="NAME" column="F01" />
		<result property="TYPE" column="F02" />
		<result property="PESPOOLID" column="F03" />
		<result property="RARENTAREAID" column="F04" />
		<result property="USEFOR" column="F05" />	
		<result property="COMMENTS" column="F06" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.IpSegment" id="BaseSegment">
		<id property="ID" column="F00"/>
		<result property="AREAID" column="F01" />
		<result property="IP" column="F02" />
		<result property="MASK" column="F03" />
		<result property="VALN" column="F04" />
		<result property="TYPE" column="F05" />
		<result property="PARENTIPSEGMENT" column="F06" />
		<result property="USEFOR" column="F07" />
		<result property="COMMENTS" column="F08" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Equipment_Ipaddress" id="BaseAddr">
		<id property="ID" column="F00"/>
		<result property="EQUIPMENTID" column="F01" />
		<result property="IPADDRESSID" column="F02" />
		<result property="TYPE" column="F03" />
		<result property="COMMENTS" column="F04" />	
	</resultMap>
	<resultMap type="com.chinatelecom.model.IpMap" id="BaseMap">
		<id property="ID" column="F00"/>
		<result property="SRCID" column="F01" />
		<result property="SRCDES" column="F02" />
		<result property="DESTID" column="F03" />	
		<result property="DESTDES" column="F04" />
		<result property="DIRECTION" column="F05" />
		<result property="COMMENTS" column="F06" />
	</resultMap>
	<resultMap type="com.chinatelecom.model.Ip" id="BaseIp">
		<id property="ID" column="F00"/>
		<result property="IP" column="F01" />
		<result property="GATEWAY" column="F02" />
		<result property="HOSTNAME" column="F03" />
		<result property="IPSEGMENTID" column="F04" />
		<result property="USEFOR" column="F05" />
		<result property="IPGROUPID" column="F06" />
		<result property="PROPOSER" column="F07" />
		<result property="CREATEDATE" column="F08" />
		<result property="COMMENTS" column="F09" />
	</resultMap>
	<select id="getAllIp" resultMap="BaseIp">
		select * from IP
	</select>
	<select id="getAllMap" resultMap="BaseMap">
		select * from Ip_Map
	</select>
	<select id="getAllResPool" resultMap="BasePool">
		select * from ResPool
	</select>
	<select id="getIpMapByMapID" parameterType="java.lang.Integer" resultMap="BaseMap">
		select * from IP_MAP 
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F00=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getIpInfo" parameterType="java.lang.Integer" resultMap="BaseIp">
		select * from IP
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F00=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getEquipIP" parameterType="java.lang.Integer" resultMap="BaseAddr">
		select * from EQUIPMENT_IPADDRESS
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F01=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getAllAreaByResPool" parameterType="java.lang.Integer" resultMap="BaseArea">
		select * from Area
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F03=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getAllIpSegmentByArea" parameterType="java.lang.Integer" resultMap="BaseSegment">
		select * from IpSegment
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F01=#{_parameter}
			</if>
		</where>
	</select>
	<select id="getAllIpByIpSegment" parameterType="java.lang.Integer" resultMap="BaseIp">
		select * from IP
		<where>
			<if test="_parameter != null and _parameter!= ' '">
				F04=#{_parameter}
			</if>
		</where>
	</select>
</mapper>
